<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.scit.bizcard.dao.BoardDAO">

<insert id="insertB" parameterType="map">
insert into board
(book_num, boardnum, m_id, board_title, board_content, inputdate, board_hits)
 values(
#{booknum},board_seq.nextval,#{id},#{board_title},#{board_content},default,default
)
</insert>

<select id="listB" parameterType="int" resultType="Board">
select *
from board
where book_num = #{book_num}
order by boardnum desc
</select> 

<select id="readB" parameterType="int" resultType="Board">
select *
from board
where boardnum=#{boardnum}
</select>

<delete id="deleteB" parameterType="map">
delete from board where boardnum=#{boardnum} and book_num=#{book_num}
</delete>

<update id="updateB" parameterType="map">
update board set BOARD_CONTENT= #{content} where boardnum=#{boardnum} and book_num=#{book_num}
</update>

</mapper>



