<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.scit.bizcard.dao.BoardDAO">

<insert parameterType="map" id="insertB"> insert into board (book_num, boardnum, m_id, board_title, board_content, inputdate, board_hits) values( #{booknum},board_seq.nextval,#{id},#{board_title},#{board_content},default,default ) </insert>

<select parameterType="int" id="listB" resultType="Board"> select * from board where book_num = #{book_num} order by boardnum desc </select>

<select parameterType="int" id="readB" resultType="Board"> select * from board where boardnum=#{boardnum} </select>

<delete parameterType="map" id="deleteB"> delete from board where boardnum=#{boardnum} and book_num=#{book_num} </delete>

<update parameterType="map" id="updateB"> update board set BOARD_CONTENT= #{content} where boardnum=#{boardnum} and book_num=#{book_num} </update>


</mapper>



