<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="global.scit.bizcard.dao.CardImageDAO">
	<insert id="saveCardImage" parameterType="CardImage">
		insert into
		CardImage
		(
		m_id, cardnum, cardType, imagePath, layout_num
		)
		values
		(
		#{m_id},
		cardnum_seq.nextval,
		#{cardType},
		#{imagePath},
		#{layout_num}
		)
	</insert>

	<update id="updateCardImage" parameterType="CardImage">
		update cardimage
		set imagePath=#{imagePath}
		where m_id=#{m_id}
		and cardNum=#{cardNum}
	</update>
	
	<delete id="deleteCardImage">
      delete CardImage where m_id=#{m_id} and cardNum = #{cardNum}
   </delete>
	
	<insert id="setMyCardList" parameterType="CardImage">
		insert into
		MyCardIndex
		(m_id, cardNum)
		values
		(
		#{m_id},
		#{cardNum}
		)
	</insert>

	<select id="myCardExist" resultType="CardImage" parameterType="String">
		select *
		from cardImage
		where m_id=#{m_id}
		and cardType='my'
	</select>

	<select id="getImageNumber" resultType="Integer" parameterType="String">
		select cardnum
		from(
		select cardNum
		from CardImage
		where m_id=#{m_id}
		order by inputdate desc
		)
		where rownum = 1
	</select>

	<select id="loadCardImage" resultType="String" parameterType="String">
		select imagePath
		from CardImage
		where cardNum=#{cardNum}
	</select>

	<select id="checkExistMine" resultType="String" parameterType="String">
		select cardtype from CARDIMAGE where m_id=#{m_id} and cardtype='my'
	</select>

	<update id="sharedChange" parameterType="CardImage">
		update CardImage
		set
		shared=#{shared}
		where cardNum=#{cardNum}
	</update>

</mapper>