<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.scit.bizcard.dao.NoteDAO" >

<select id="noteList" resultType="Note" parameterType="String">
	select  to_char(startdate, 'yyyy-MM-dd') as startdate, to_char(enddate, 'yyyy-MM-dd') as enddate, note
	from cardnote_test
	where m_id=#{m_id}
</select>

</mapper>