<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.scit.bizcard.dao.NoteDAO" >

<select parameterType="String" resultType="Note" id="noteList"> 
	select
	notenum, m_id, cardnum, to_char(startdate, 'yyyy-MM-dd') as "startDate", to_char(enddate, 'yyyy-MM-dd') as "endDate", inputdate, title, content, chk
	from cardnote_test where m_id=#{m_id}
</select>

<insert parameterType="Note" id="addNote">
	insert into CARDNOTE_TEST values(
	notenum_seq.nextval, #{m_id}, #{cardnum}, #{startDate}, #{endDate}, sysdate, #{title}, #{content}, #{chk} 
	)
</insert>

<delete id="deleteNote" parameterType="Note" >
	delete cardnote_test where notenum=#{notenum}
</delete>

</mapper>