<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="global.scit.bizcard.dao.SharingDAO">
	<select id="listCardBooks" resultType="HashMap" parameterType="String">
		select cb.book_num, cb.book_name, cb.inputdate, cb.book_master,
		cm.member_count
		from cardbooks cb, (select book_num, count(m_id)
		member_count from
		bookmembers group by book_num)cm
		where cb.book_num in
		(select book_num from bookmembers where m_id=#{m_id})
		and
		cm.book_num in
		(select book_num from bookmembers where m_id=#{m_id})
	</select>

	<insert id="makeRoom" parameterType="CardBooks">
		INSERT INTO CARDBOOKS (
		BOOK_NUM,
		BOOK_NAME,
		INPUTDATE,
		book_master
		) VALUES (
		cardbooks_seq.nextval,
		#{book_name},
		SYSDATE,
		#{m_id}
		)
	</insert>

	<select id="getBookNum" parameterType="CardBooks" resultType="Integer">
		select book_num from
		(select book_num from cardbooks where
		book_master=#{m_id} order by inputdate
		desc)
		where rownum = 1

	</select>

	<insert id="insertManager" parameterType="CardBooks">
		insert into bookmembers
		(
		m_id,
		book_num,
		inputdate,
		grade
		) values (
		#{m_id},
		#{book_num},
		sysdate,
		#{grade}
		)
	</insert>


	<select id="selectOneRoom" parameterType="int" resultType="HashMap">
		SELECT
		BOOK_NUM,
		BOOK_NAME,
		inputdate,
		book_master
		FROM CARDBOOKS
		WHERE
		BOOK_NUM =
		#{book_num}
	</select>

	<select id="allMember" parameterType="int" resultType="HashMap">
		SELECT
		m_id,
		book_num,
		to_char(inputdate, 'yyyy-mm-dd') inputdate,
		grade
		FROM
		bookmembers
		WHERE BOOK_NUM =
		#{book_num}
	</select>


	<select id="inviteList" resultType="Member" parameterType="HashMap">
		SELECT
		M_ID,
		M_PASSWORD,
		M_EMAIL,
		M_NAME
		FROM MEMBER
		<if test="searchTitle != null and searchText!=null">
			<choose>
				<when test="searchTitle == 'm_id'">
					WHERE M_ID like '%'||#{searchText}||'%'
				</when>
				<when test="searchTitle == 'm_name'">
					WHERE M_NAME like '%'||#{searchText}||'%'
				</when>
			</choose>
		</if>
	</select>

	<insert id="invite" parameterType="Message">
		INSERT INTO MESSAGE (
		TARGETID,
		SENDER,
		MESSAGE,
		SENDDATE,
		TYPE,
		BOOK_NUM
		) VALUES (
		#{targetId},
		#{sender},
		#{message},
		SYSDATE,
		#{type},
		#{book_num}
		)
	</insert>

	<select id="messageList" parameterType="String" resultType="Message">
		SELECT
		TARGETID, SENDER, MESSAGE, OPENDATE, TYPE,
		BOOK_NUM,
		case
		when
		to_char(SENDDATE,'YY-MM-DD') = to_char(sysdate, 'YY-MM-DD')
		then
		to_char(SENDDATE,'HH24:MI:SS')
		else to_char(SENDDATE,'YY-MM-DD')
		end as
		SENDDATE
		FROM MESSAGE
		WHERE TARGETID = #{m_id} or SENDER = #{m_id}
		ORDER
		BY SENDDATE
		DESC
	</select>

	<insert id="writeMessage" parameterType="Message">
		INSERT INTO MESSAGE (
		TARGETID,
		SENDER,
		MESSAGE,
		SENDDATE,
		TYPE,
		BOOK_NUM
		) VALUES (
		#{targetId},
		#{sender},
		#{message},
		SYSDATE,
		#{type},
		#{book_num}
		)
	</insert>

	<insert id="readMessage" parameterType="Message">
		UPDATE MESSAGE
		SET
		OPENDATE = sysdate
		WHERE message = #{message} and book_num =
		#{book_num}
	</insert>

	<insert id="joinRoom" parameterType="CardBooks">
		INSERT INTO bookmembers (
		M_ID,
		BOOK_NUM,
		inputdate,
		GRADE
		) VALUES (
		#{m_id},
		#{book_num},
		sysdate,
		#{grade}
		)
	</insert>

	<delete id="leaveRoom" parameterType="CardBooks">
		delete bookmembers
		where
		m_id = #{m_id} and
		book_num = #{book_num}
	</delete>


	<select id="getRoomCards" resultType="CardImage" parameterType="Integer">
		select c.cardnum, c.m_id, c.imagePath
		from sharedCard s, cardImage c
		where
		s.cardNum=c.cardNum and book_num=#{book_num}
	</select>

	<select id="getOneSharedCard" resultType="HashMap">
		select
		sh.inputdate,
		sh.shared_cardnum,
		sh.book_num,
		sh.cardnum,
		sh.m_id,
		im.imagePath,
		ca.name,
		ca.company,
		ca.depart,
		ca.position,
		ca.address,
		ca.email,
		ca.telephone,
		ca.fax,
		ca.mobile,
		ca.language
		from sharedcard sh,
		(select
		imagePath from cardImage where cardnum=#{param1}) im,
		(select
		name,
		company, depart, position, address, email, telephone,
		fax,
		mobile,
		language from card where cardnum=#{param1}) ca
		where
		sh.cardnum=#{param1} and
		sh.book_num=#{param2}
	</select>



</mapper>